
body{ 
	background: #e8a20a;
	font: 'Helvetica','Arial',sans-serif; 
}
h1{
	font-family: 'Newsreader',serif;
	font-size:400%;
	text-transform: uppercase;
	background-color: #e8a20a;
        width:1500px;
        height:50px;
        border:0px solid;
        padding-top:50px;
	padding-bottom:50px;
        background-clip:content-box;
        margin-left:15px;
        margin-top:5px;
        margin-bottom:20px;
}
#grid{
        display:grid;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-columns: 1fr;
        height:80vh;
        text-align:center;
}
#Top{
        grid-row-start:1;
        grid-column-start:1;
        background: #e8a20a;
}
#Second{
        grid-row-start:2;
        grid-column-start:1;
        background: #eaad28;

}
#Bottom{
        grid-row-start:4;
        grid-column-start:1;
        background: #e8a20a;
	font-size:100%;
}
