
img{
	width: 100%;
	height: auto;
}
#grid{
        display:grid;
        grid-template-rows: 3fr 1fr 1fr 2fr;
        grid-template-columns: 1fr;
        height:80vh;
        text-align:center;
}
#Top{
        grid-row-start:1;
        grid-column-start:1;
	background: "white";
}
#Middle{
        grid-row-start:3;
        grid-column-start:1;
	background: "black";
}
#Second{
        grid-row-start:2;
        grid-column-start:1;
	background: #55e0a3;

}
#Bottom{
        grid-row-start:4;
        grid-column-start:1;
	background: #4850b9;
}

