body{ 
	background: #f5e1da;
	font-size:20pts;
	font-family:'verdana',sans-serif; 
}
	
header, nav, main{ 
	background: #f1f1f1; 
}


footer{ 
	background:DimGrey;
	font-family:'courier new',serif;
}

#first{
	text-align:center;
}

#last{
	text-align:center;
}

h1{
	text-transform:uppercase;
}

h2{
	text-transform:uppercase;
}
th{
	text-transform:uppercase;
}
